<form novalidate (ngSubmit)="onSubmit(lead)" [formGroup]="lead">
    <label>
        <span>Full name</span>
        <input
                type="text"
                placeholder="Your full name"
                formControlName="name">
        <div
                class="error"
                *ngIf="lead.get('name').hasError('required') && lead.get('name').touched">
            Name is required
        </div>
        <div
                class="error"
                *ngIf="lead.get('name').hasError('minlength') && lead.get('name').touched">
            Minimum is 5 characters
        </div>
    </label>
    <label>
        <span>Email address</span>
        <input
                type="email"
                placeholder="Your email address"
                formControlName="email">
        <div
                class="error"
                *ngIf="lead.get('email').hasError('email') && lead.get('email').touched">
            Enter valid email address
        </div>
    </label>
    <label>
        <span>Phone number</span>
        <input
                type="text"
                placeholder="Phone number"
                formControlName="phone">
        <div
                class="error"
                *ngIf="lead.get('phone').hasError('required') && lead.get('phone').touched">
            Name is required
        </div>
        <div
                class="error"
                *ngIf="lead.get('phone').hasError('pattern') && lead.get('phone').touched">
            Mobile number format: +3706XXXXXXX
        </div>
    </label>
    <label>
        <span>I agree to receive marketing spam</span>
        <input
                type="checkbox"
                formControlName="consent">
    </label>
    <button type="submit" [disabled]="lead.invalid">Next</button>
</form>